.block {
  margin: 0 auto;
  width: 50vw;
  height: 100vh;
  .block__item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    .block__text {
      padding: 20px;
      background-color: #c0e0fb;
      border-radius: 4px;
    }
  }
}
