.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  .block__item {
    position: relative;
    margin: 20px 0;
    width: 60%;
  }
}
